<!--<div style="display:flex;">-->
<!--  <div class="trades-wrapper">-->
<!--&lt;!&ndash;    <div *ngFor="let token of tokens">&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Token: {{ token.mint }} <button (click)="manuallyBuy(token.mint)">BUY</button><button (click)="manuallySell(token.mint)">BUY</button></h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>Creator: {{ token.creatorPublicKey }}</p>&ndash;&gt;-->

<!--&lt;!&ndash;      <div *ngFor="let trade of token.trades">&ndash;&gt;-->
<!--&lt;!&ndash;        <p>&ndash;&gt;-->
<!--&lt;!&ndash;          Trade:&ndash;&gt;-->
<!--&lt;!&ndash;          <span [ngClass]="{'creator-trade': trade.traderPublicKey === token.creatorPublicKey}">&ndash;&gt;-->
<!--&lt;!&ndash;        {{ trade.traderPublicKey }}&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;          | {{ trade.txType | uppercase }}&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="controlls-wrapper">-->
<!--    <div *ngFor="let account of getSortedAccounts()">-->
<!--      <h3 style="margin-left: 10px">-->
<!--        Account: {{ account }}-->
<!--      </h3>-->
<!--      <div>-->
<!--        Total Closed Trades: {{ getTotalClosedTrades(account) }} <br>-->
<!--        Total PNL: {{ getTotalPnl(account) }} %-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<router-outlet></router-outlet>
